<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#6f4b29" />

    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="./favicon.ico">
    <link rel="manifest" href="./app.webmanifest">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

    <title>Restaurant Catalogue</title>
</head>

<body>
    <a class="skip-link" tabindex="0">Skip to Main Content</a>

    <app-bar></app-bar>

    <main id="mainContent" tabindex="0"></main>

    <footer-element></footer-element>
</body>

</html>